# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Resume AI specific
backend/uploads/
backend/dummy_resume.docx
backend/dummy_resume.pdf
